In [2]:
#Q1.
def fun(x,y):
    return x**y


x=int(input("enter a no: "))
y=int(input("enter a no"))
z=fun(x,y)
print(z)

enter a no: 6
enter a no3
216

In [14]:
#Q2.

def fun(a,b):
    if (len(a)==0 and len(b)==0):
        return ("Hello World")
    else:
        return(a+b)
a=input("enter")
b=input("enter")
fun(a,b)

enterhello
enterpython

'hellopython'

In [21]:
#Q3.
def fun(p):
    if (p%2==0):
        print("1")
    else:
        print("0")
        
a=int(input("enter "))
if(fun(a)):
    print("even")
else:
    print("odd")

enter 5
0
odd

In [ ]:
#Q4.

In [17]:
#Q5.
def palindrome(x):
    a=x
    b=a[::-1]
    if(a==b):
        print("0")
    else:
        print("1")
a=input("enter")
if (palindrome(a)):
    print("yes")
else:
    print("no")

enterhello
1
no

In [23]:
#Q6.
c=input("enter ")
b=c.split(" ")
d=len(b)
print("no of words: ", d)

enter hello this is python
no of words:  4

In [27]:
#Q7.
a=input("3 nos: ")
b=a.split(",")
print("maximum ", max(b))

3 nos: 123,23,234
maximum  234

In [7]:
#Q8.
def printing(n1, n2):
    count=0
    i=1
    while True:
        if (((3*i)+2)%n2)==0:
            i+=1
            pass
        else:
            print(3*i+2)
            i+=1
            count+=1
        if count==n1:
            break
printing(10,4)

5
11
14
17
23
26
29
35
38
41

In [2]:
#Q9.
x=input("enter")
print(x[::-1])

enter233455
554332

In [3]:
#Q11.
a=input("enter ")
b=a.replace("0","5")
print(b)

enter 3445000
3445555

In [4]:
#Q12.
a=int(input("enter: "))
for i in range(1,11):
    print(i*a)

enter: 12
12
24
36
48
60
72
84
96
108
120

In [ ]:
#Q13.
x= int(input("enter: "))
temp=x
sum=0
while temp!=0:

In [6]:
#Q15. 
a=input("enter")
print(a[::-1])

enter12334
43321